@use "./variables" as *;

a.active {
    pointer-events: none;
}
.landing {
    height: calc(100vh - (var(--header-height)));
}
.container {
    margin-inline: auto;
}
.center {
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn {
    @extend .center;
    width: fit-content;
    max-height: 40px;
    max-width: 10rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1.25rem;
    transition: 0.4s;
    cursor: pointer;
    &.fill {
        background-color: $mc;
        color: #fff;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &.empty {
        border: 0.2rem solid $smc;
        color: $smc;
        &:hover,&.active {
            color: #fff;
            background-color: $smc;
        }
    }
    font: {
        size: var(--fs-1);
        weight: var(--fw-500);
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: $lc;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    transition: 0.25s;
    border-radius: 0.25rem;
    row-gap: 1rem;
    svg {
        $size: 3rem;
        width: $size;
        height: $size;

    }
    &:hover {
        background-color: $mc;
        svg {
            color: $wc;
        }
        h5 {
            color: $wc;
        }
        p {
            color: $wc;
        }
    }
}