@use "./tailwind";
@use "./fonts";
@use "./root";
@use "./variables" as *;
@use "./classes";
@use "./animations";
@use "./layout";
@use "./loading";

// =============================================== //
// ==== add react-slick styles in the project ==== //
// =============================================== //

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-track {
    display: flex;
    column-gap: 1rem;
}

// ================================== //
// ==== add fonts in the project ==== //
// ================================== //

@each $font in $fonts {
    @import url('/assets/fonts/'+$font+'/index.css');
}

// ========================================= //
// ==== custumize scrollbar and section ==== //
// ========================================= //

::selection {
    background-color: $mc;
    color: $wc;
}

// add scroll bar variabels

$scrollSize: 0.25rem;
$scrollBg: $lc;

::-webkit-scrollbar {
    background-color: $scrollBg;
    width: $scrollSize;
    height: $scrollSize;
}
    
::-webkit-scrollbar-thumb {
    background-color: $mc;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: $scrollBg;
}

// ::-webkit-scrollbar-button {}
// ::-webkit-scrollbar-track-piece {}

::-webkit-scrollbar-corner {
    background-color: $scrollBg;
}


// ============================ //
// === start formating code === //
// ============================ //

html {
    font-size: 16px;
}

body {
        font: {
            family: 'Poppins', sans-serif;
            size: 1rem;
            weight: 400;
        }
}

* {
    transition: 0.25s ease;
}

input {
    outline: none;
    &:focus {
        &::-webkit-input-placeholder {
            color: transparent !important;
        }
        border: 2px solid $mc;
    }
}

header,footer,body {
    background-color: $lc;
}
header,footer,section {
    width:100%;
}
section {
    min-height: 100vh;
    padding-block: calc($headerHeight + 3rem) 2rem;
    >h1 {
        color: $mc;
        text-align: center;
        margin-bottom: 3rem;    
        span {
            color: $smc;
        }
    }
}

p {
    color: var(--tcl);
    font: {
        size: 1rem;
        weight: var(--fw-400);
    }
}

svg {
    $size: 1.5rem;
    width: $size;
    height:$size;
    transition: 0s;
}

@each $size, $i in (('2-75',1),('2-5',2),('2-25',3),('2',4),('1-75',5),('1-5',6)) {
    h#{$i} {
        color: $dc;
        font: {
            size: var(--fs-#{$size});
            weight: var(--fw-600);
        }
    }
}